main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.header {
  /* position: fixed; */
  flex: 1;
  padding-top: 4.375rem;
  background-color: aquamarine;
  transform: translateY(0);
  transition: height 0.5s ease;
  overflow: scroll;
  /* top: 0; */
  /* width: 100%; */
}

.header-content-wrapper {
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.header.shrunk {
  height: 0;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.site-title {
  font-size: 3.0rem;
  transition: font-size 0.5s ease;
  margin-top: 0px;
  max-width: 960px;
}

.site-title.shrunk {
  position: absolute;
  font-size: 1.5rem;
  top: 18px;
}

.bio-wrapper {
  display: block;
  opacity: 1;
  height: inherit;
  transition: height 0.5s ease;
}

.bio {
  margin-bottom: 4.375rem;
}

.bio-header {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 12px;
}

.bio-wrapper.hidden {
  opacity: 0;
  height: 0px;
}

.mobile-pointer {
  display: none;
}

.posts {
  flex: 1;
  max-width: 80%;
  overflow: scroll;
  /* margin-top: 56px; */
  /* margin: auto; */
  /* transition: margin-top .5s ease; */
}

.posts.shrunk {
  margin-top: 188px;
}

.sup {
  margin: 24px auto;
  border: 1px solid lightgrey;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-width: 86%;
  /* margin: 24px 0px; */
}

.post-title {
  margin-top: 0px;
  margin-bottom: 1.3125rem;
  padding-top: 2.625rem;
  padding-bottom: 1.3125rem;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding-left: 24px;
}

.post-body {
  padding-left: 24px;
}

.purple {
  background-color: rgb(103, 58, 183);
}

.teal {
 background-color: rgb(0, 150, 136);
}

.green {
  background-color: rgb(76, 175, 80);
}

.post-page {
  max-width: 960px;
  margin: auto;
  margin-top: 48px;
}

.content-pointer {
  font-size: 22px;
}

@media only screen and (max-width: 1070px) {
  .site-title {
    font-size: 2.9rem;
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    padding-top: 6rem;
  }
  .header-content-wrapper {
    max-width: 88%;
    margin: auto;
  }
  .site-title {
    font-size: 2.9rem;
    transition: font-size 0.5s ease;
    margin-top: 0px;
    max-width: 960px;
  }
}

@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
    height: unset;
    overflow: unset;
  }
  .header {
    padding-top: 4rem;
    flex: unset;
  }
  .header-content-wrapper {
    max-width: unset;
    width: 90%;
    margin: auto;
  }
  .bio {
    flex-direction: column;
  }
  .sup {
    max-width: unset;
  }
  .desktop-pointer {
    display: none;
  }
  .mobile-pointer {
    display: inline;
  }
  .posts {
    max-width: unset;
    width: 100%;
  }
  .sup {
    max-width: 96%;
  }
}

@media only screen and (max-width: 730px) {
  .site-title {
    font-size: 1.9rem;
    transition: font-size 0.5s ease;
  }
}

@media only screen and (max-width: 600px) {
  .bio {
    display: flex;
    margin-bottom: 0;
  }
  .post-title {
    padding-top: 1.625rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
  }
}

/* .hidden {
  display: none;
} */

